/*
*  Variables
*/

/* Paths */
@path-fonts-icon-font: '../fonts/icon-font/';
@path-img: '../img/';


@border-default: 1px solid @gray-light;
@border-white: 1px solid @brand-white;

@animation-duration: 300ms;


/* Colors */

@brand-white: white;
@brand-blue: #25bfdb;
@brand-yellow: #efd883;
@brand-pink: #e893ed;
@white-faded: rgba(255, 255, 255, 0.25);
@gray-light: #747474;
@gray-lighter: #f1f1f1;
@gray: #303030;
@gray-dark: #232323;

@gradient-default: linear-gradient(135deg, @brand-blue 0%,@brand-yellow 100%);

@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@font-primary: 'Doppio One', sans-serif;
