/*
*  Variables
*/

/* Paths */
@path-fonts-icon-font: '../fonts/icon-font/';
@path-img: '../img/';


@border-default: 1px solid #747474;



/* Colors */

@brand-white: white;
@gray-dark: #232323;


@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@font-primary: 'Doppio One', sans-serif;
