/* Imports */
@import '_icons.less';
@import '_variables.less';

html,
body,
#app {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.c-card {

}

table {
    th,
    td {
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    thead th {
        border-bottom: @border-default !important;
    }
}

.c-card__inner {
    //background: @brand-white;
    border: @border-default;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
}

.c-card__info {
    display: flex;
    align-items: center;
    //background-color: #dadada;
    padding: 10px;
    position: relative;
    border-radius: 9px 9px 0 0;
    flex-direction: column;
    padding-top: 50px;
}

.c-card__name {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: @font-primary;
}

.c-card__name-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.c-card__image {
    border-radius: 100%;
    //border: @border-default;
    height: 90px;
    width: 90px;
    //flex-shrink: 0;
    position: absolute;
    //left: 50%;
    top: 0;
    transform: translateY(-50%);
    box-shadow: 0px 1px 0px 1px rgba(0,0,0,0,5);
    //background: linear-gradient(135deg, #a81c77 0%,#d8b075 100%);
    background: linear-gradient(135deg, #25bfdb 0%,#efd883 100%);
    //border: @border-default;
}

.c-card__stats {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.c-card__remove {
    position: absolute;
    right: 10px;
    top: 10px;
}

.c-card__data {
    font-size: small;

    th,
    td {
        white-space: nowrap;
    }
}

.player-cards__action {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.search {
    height: 100%;
    background: linear-gradient(135deg, #25bfdb 0%,#efd883 100%);
    display: flex;
    flex-direction: column;
}

.search__result-item {
    padding: 10px 0;
    border-bottom: 1px solid @white-faded;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    color: @brand-white;
    font-family: @font-primary;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    &:last-child {
        border-bottom: 1px solid transparent;
    }

    &:hover {
        background-color: @white-faded;
    }
}

.search__result-group {
    display: inline-block;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.search__action {
    flex-shrink: 0;
    padding: 10px;
}

.search__result-info--added {
    color: @white-faded;
}

.search__action {
    flex-shrink: 0;
}

.search__input {
    border-radius: 0;
    padding: 20px 10px;
    border: 0;
    font-family: @font-primary;
    text-transform: uppercase;
}



.page-title-container {
    padding: 20px;
    display: none;
}



.c-loader {
    &::before {
        margin: auto;
        content:'';
        display: block;
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #00b8ff; /* Blue */
        border-radius: 50%;
        width: 35px;
        height: 35px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width : (@screen-sm - 1)) {
    .c-loader {
        &::before {
            border: 6px solid #f3f3f3; /* Light grey */
            border-top: 6px solid #00b8ff; /* Blue */
            width: 25px;
            height: 25px;
        }
    }
}

.player-cards__row {
    justify-content: center;
}

.player-cards__add {
    color: @gray-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-cards__add-icon {
    border: @border-default;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    text-align: center;
    font-size: 50px;
}

.player-cards__add-label {
    font-family: @font-primary;
    text-transform: uppercase;
}

.animated {
    animation-duration: @animation-duration;
}


.app {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    height: 100%;
    width: 100%;
    background: @gray-dark;
    //overflow-y: scroll;
    //-webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
}

.app__sidebar {
    transition: width @animation-duration;
    overflow: hidden;
    flex-shrink: 0;
}

.app__content {
    flex-grow: 1;
    overflow: hidden;
}


.sidebar--closed {
    &.app__sidebar {
        width: 0;
    }
}


// mobile
@media only screen and (max-width : (@screen-sm - 1)) {
    .sidebar--open {
        &.app__sidebar{
            width: 100vw;
        }
    }

    .search {
        width: 100vw;
    }

    .player-cards {
        width: 100vw;
    }
}

// desktop
@media only screen and (min-width : (@screen-sm)) {
    .sidebar--open {
        &.app__sidebar {
            width: 30vw
        }
    }

    .search {
        width: 30vw;
    }
}

.btn {
    border-radius: 0;
}

.btn--full-width {
    width: 100%;
}

.btn-outline-primary {
    color: @gray-dark;
    border: 1px solid @gray-dark;

    &:hover {
        background-color: @white-faded;
        color: @gray-dark;
        border: 1px solid @gray-dark;
    }
}



.menu-bar {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    border-top: @border-default;
    background: @gray-dark;
}

.menu-bar__item {
    border-right: @border-default;
    width: (1/3)*100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;

    &:last-child {
        border-right: 0;
    }
}

.menu-bar__icon {
    font-size: 24px;
}

.menu-bar__label {
    margin-top: 5px;
}