/*
/* Component - Card
/*/

.c-card {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: @gray-dark;

    &:hover {
        .c-card__background {
            opacity: 1;
        }
    }
}

.c-card__background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transition: opacity 0.2s ease-in-out;
}

.c-card__data-title {
    font-size: small;
    color: @white-faded;
}

.c-card__data-container {
}

.c-card__inner {
    color: white;
    background-image: @gradient-black;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    //box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;

    &:hover {
        box-shadow: none;
    }
}

.c-card__info {
    display: flex;
    align-items: center;
    //background-color: #dadada;
    position: relative;
    border-radius: 9px 9px 0 0;
    flex-direction: column;
}

.c-card__name {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: @font-primary;
    text-align: center;
}

.c-card__name-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.c-card__head {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    box-shadow: 0px 1px 0px 1px rgba(0,0,0,0,5);
    background: @gradient-default;
    overflow: hidden;
    position: relative;
}

.c-card__image {
    height: 100%;
    width: 100%;
}

.c-card__initials {
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: @white-faded;
}

.c-card__message {
    color: @white-faded;
}

.c-card__stats {
    width: 100%;
    border-radius: 0 0 9px 9px;
    text-align: center;
}

.c-card__remove {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    color: @brand-white;

    &:hover {
        color: @brand-blue;
    }
}
.c-card__remove.c-card__remove-faded {
    color: @white-faded;

    &:hover {
        color: @brand-blue;
    }
}

.c-card__data-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.c-card__data {
    margin-bottom: 0;

    th,
    td {
        white-space: nowrap;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}

.carousel .control-arrow {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px !important;

    &::before {
        padding-top: 10px;
    }

    &.control-prev {
        &::before {
            content: "\e64a" !important;
            border: 0 !important;
        }
    }

    &.control-next {
        &::before {
            content: "\e649" !important;
            border: 0 !important;
        }
    }
}